* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

header {
    width: 100%;
    height: 65px;
    background-color: #044863;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.col-md-21{
    border-right: 1px solid #2A2F33;
    padding: 0;
    height: 65px;
}
.col-md-101{
    height: 65px;
    padding: 0;
}

.search {
    width: 100%;
    height: 20px;
}

.search i {
    font-size: 1.5rem;
    margin-left: 120px;
    color: #fff;
    padding: 0;
    display: block;
    margin-top: 20px;
    cursor: pointer;
}

.btns {
    display: inline-block;
    width: 30%;
    margin-left: 120px;
    padding-left: 85px;
}

.btns a img {
    margin-top: -98px;
    margin-right: 40px;
    width: 125px;
    height: 37px;
}

.logo {
    display: inline-block;
    width: 60%;
    padding-left: 390px;
}

.logo a img {
    width: 150px;
    height: 50px;
    margin-top: -98px;
    margin-left: 333px;
}

.margin-t {
    padding: 0;
    margin-top: 65px;
}

.menu {
    height: 3258px;
    width: auto;
    background-color: #2A2F33;
    padding: 0 !important;
}

.nav li {
    height: 50px;
    border-bottom: 1px solid rgb(58, 56, 58);
}

.nav li:hover {
    background-color: #fb474a;
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 14px;
    margin-left: 40px;
}

.main {
    background-color: #EDEFF0;
    height: auto;
}
.main-page {
    width: 1110px;
    height: auto;
    margin-left: 80px;
    margin-top: 145px;
}


.right .title-right {
    display: block;
    font-size: 28px;
    width: 140px;
    height: 30px;
    border-bottom: 3px solid #E14A3F;
    padding-bottom: 37px;
    margin-top: 10px;
}

.right .right-content {
    width: 255px;
    height: auto;
    background-color: #FFFFFF;
    padding-bottom: 40px;
}

.card-item:hover {
    box-shadow: 5px 5px 5px 5px #888888;
    opacity: 80%;
    cursor: pointer;
} 

.list-card-right .item-card-sidebar:hover {
    box-shadow: 5px 5px 5px 5px #888888;
    opacity: 80%;
    cursor: pointer;
}


.list-card-right {
    padding: 40px 0px 0px 27px;
}
.list-card-right .item-card-sidebar {
    width: 200px;
    height: 120px;
    margin-bottom: 40px;
}

.list-card-right img {
    width: 200px;
    height: 120px;
}

.item-card-sidebar p {
    font-size: 14px;
    position: absolute;
    bottom: -10px;
    left: 7px;
    z-index: 1;
    color: #FFFFFF;
    margin-right: 18px;
}

.viewed {
    width: 50px;
    height: 30px;
    background-color: #0FB3F3;
    position: absolute;
    top : -1px;
    right: 0px;
    text-align: center;
    color: #FFFFFF;
}

.viewed i {
    display: inline-block;
    padding-top: 8px;
}

.viewed-thumbnail {
    top: 0px;
    right: 7px;
}

.viewed-card {
    top: 92px;
    right: 0;
}


.title-post {
    margin-bottom: -45px;
    width: 165px;
    margin-left: -24px;
    text-align: inherit;
}

.content {
    width: 100%;
    height: auto;
}

h1 {
    text-transform: uppercase;
    display: block !important;
    border-bottom: 3px solid #E14A3F;
    padding-bottom: 8px;
    font-size: 23px;
    width: 180px !important;
}

.head-body .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.head-body .title img {
    width: 50px;
    height: 30px;
}

.head-body .title p {
    display: block;
    font-size: 28px;
    width: 150px;
    height: 30px;
    margin-left: 15px;
}

.content1{
    padding: 0 10px;
}

.head-body .thumbnail {
    margin-top: 12px;
    padding: 0;
    cursor: pointer;
}

.head-body .thumbnail img {
    width: 820px;
    height: 445px;
}

.content .detail-content {
    width: 820px;
    padding-top: 50px;
    padding-left: 65px;
    padding-right: 60px;
    background-color: #FFFFFF;
}

.content .detail-content img {
    width: 650px;
    height: 300px;
    margin-top: 15px;
    margin-left: 15px;
}

.content .detail-content h3 {
    font-weight: bold;
}

.content .detail-content p {
    margin-top: 1.5rem;
}

.content .detail-content .img-content {
    width: 350px;
    height: 525px;
    margin-top: 10px;
    margin-left: 170px;
}

.p-end {
    color: red;
    padding-bottom: 15px;
    display: block;
    margin-left: 250px;
}

.post-list {
    width: 820px;
    height: auto;
    margin-top: 20px;
}

.post-list h3{
    padding-top: 10px;
    text-transform: uppercase;
    display: inline-block !important;
    border-bottom: 3px solid #E14A3F;
    padding-bottom: 8px;
    font-size: 23px;
    margin-bottom: 10px;
}

.title-sidebar-right {
    position: absolute;
    bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
    font-size: 12px;
}

.text-webkit {
    display: -webkit-box;
    -webkit-line-clamp: 2;     
    -webkit-box-orient: vertical;     
    overflow: hidden;     
    text-overflow: ellipsis;
    z-index: 2;
}

.img-effect {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 0;
    background-color: #32302d6b;
    z-index: 1;
}

.title-sidebar-right text-webkit{
    padding: 0 10px;
}

.img-effect1{
    height: 40px;
}

.card-body p {
    opacity: 60%;
}

.footer-card img {
    display: inline-block;
    width: 80px;
    height: 25px;
}
.footer-card p {
    display: inline-block;
    margin-left: 5px;
}

.footer {
    margin-top: 80px;
    width: 100%;
    height: 105px;
    background-color: #FFFFFF;
    margin-left: 0;
}

.footer p {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.footer a {
    color: #000;
    margin-left: 10px;
}
