* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

header {
    width: 100%;
    height: 65px;
    background-color: #044863;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.col-md-21{
    border-right: 1px solid #2A2F33;
    padding: 0;
    height: 65px;
}
.col-md-101{
    height: 65px;
    padding: 0;
}

.search {
    width: 100%;
    height: 20px;
}

.search i {
    font-size: 1.5rem;
    margin-left: 120px;
    color: #fff;
    padding: 0;
    display: block;
    margin-top: 20px;
    cursor: pointer;
}

.btns {
    display: inline-block;
    width: 30%;
    margin-left: 120px;
    padding-left: 85px;
}

.btns a img {
    margin-top: -98px;
    margin-right: 40px;
    width: 125px;
    height: 37px;
}

.logo {
    display: inline-block;
    width: 60%;
    padding-left: 390px;
}

.logo a img {
    width: 150px;
    height: 50px;
    margin-top: -98px;
    margin-left: 333px;
}

.margin-t {
    padding: 0;
    margin-top: 65px;
}

.menu {
    height: 100%;
    width: auto;
    background-color: #2A2F33;
    padding: 0 !important;
}

.item-card-right position-relative{
    margin-top: 30px;
}

.item-card-sidebar position-relative{
    margin-bottom: 0;
}

.nav li {
    height: 50px;
    border-bottom: 1px solid rgb(58, 56, 58);
}

.nav li:hover {
    background-color: #fb474a;
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 14px;
    margin-left: 30px;
}

.main {
    background-color: #EDEFF0;
    height: auto;
}

.card-right {
    width: 340px;
}

.item-card-right img {
    width: 340px;
    height: 208px;
    cursor: pointer;
    margin-top: 10px;
}

.card-thumbnail {
    width: 730px;
}

.card-thumbnail img{
    width: 730px;
    height: 445px;
    cursor: pointer;
}

.title-thumbnail {
    position: absolute;
    bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
    font-size: 20px;
}

.text-webkit {
    display: -webkit-box;
    -webkit-line-clamp: 2;     
    -webkit-box-orient: vertical;     
    overflow: hidden;     
    text-overflow: ellipsis;
    z-index: 2;
}

.img-effect {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 0;
    background-color: #32302d6b;
    z-index: 1;
}

.img-effect1{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #32302d6b;
    z-index: 1;
    height: 50px;
}

.img-effect-1{
    height: 40px;
}
h3 {
    text-transform: uppercase;
    display: inline-block !important;
    border-bottom: 3px solid #E14A3F;
    padding-bottom: 8px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 100px;
}
.main-page-header {
    width: 1095px;
    height: auto;
    margin-left: 80px;
    margin-top: 145px;
}

.footer-card .p-left {
    display: inline-block;
    margin-left: 90px;
}
.footer-card img{
    width: 20px;
    height: 17px;
}
.viewed {
    width: 50px;
    height: 30px;
    background-color: #0FB3F3;
    position: absolute;
    top : 10px;
    right: 0;
    text-align: center;
    color: #FFFFFF;
}

.viewed1 {
    width: 50px;
    height: 30px;
    background-color: #0FB3F3;
    position: absolute;
    top : 0px;
    right: 0;
    text-align: center;
    color: #FFFFFF;
}

.viewed-card {
    top: 127px;
    right: 0px;
}

.btn-new {
    width: 40px;
    height: 20px;
    background-color: #FFAE01;
    border-radius: 30%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 5px;
    left: 5px;
}

.viewed i {
    display: inline-block;
    padding-top: 8px;
}

.card-item {
    width: 244px;
} 

.card-item:hover {
    box-shadow: 5px 5px 5px 5px #888888;
    opacity: 80%;
    cursor: pointer;
} 

.card-item p{
    opacity: 60%;
}

.col-md-8, .col-md-10{
    padding: 0;
}

.title-thumbnail text-webkit p{
    font-size: 12px;
    padding: 0 10px;
}

.card .card-img-top {
    width: 242px;
    height: 143px;
}

.main-body {
    width: 1095px;
    margin-left: 80px;
}

.right {
    margin-left: 10px;
    margin-top: 105px;
}
.right .title-right {
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
    border-bottom: 3px solid #E14A3F;
}

.right .right-content {
    background-color: #FFFFFF;
    width: 254px;
    height: auto;
    padding-bottom: 40px;
}


.list-card-right {
    padding-top: 45px;
   padding-left: 27px;
}

.list-card-right .item-card-sidebar {
    margin-bottom: 40px;
    width: 185px;
    height: 110px;
}

.list-card-right .item-card-sidebar:hover {
    box-shadow: 5px 5px 5px 5px #888888;
    opacity: 80%;
    cursor: pointer;
}

.list-card-right img {
    width: 185px;
    height: 110px;
}

.title{
    margin-top: 50px !important;
}

.btn-view {
    display: inline-block;
    width: 115px;
    height: 35px;
    background-color: #1EA1EE;
    border-radius: 6%;
    padding-top: 6px;
    padding-left: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.btn-view p ,
.btn-view i {
    display: inline-block;
    color: #FFFFFF;
}

.footer {
    margin-top: 80px;
    width: 100%;
    height: 105px;
    background-color: #FFFFFF;
    margin-left: 0;
}

.footer p {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.footer a {
    color: #000;
    margin-left: 10px;
}

.footer a:hover {
    color: rgb(27, 47, 226);
}