* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}

.header {
	width: 100%;
	height: 200px;
	background-color: #153d77;
	position: fixed;
	top: 0;
}

.main {
	width: 100%;
	height: 300px;
	position: fixed;
	top: 20px;
}
.form-group #labelp{
	width: 12px;
	margin-right: 2px;
}
.form-group span{
	border: 1px solid #868e96 ;
	padding: 0px 3px 3px;
	border-radius:15%;
	-moz-border-radius:15%;
	-webkit-border-radius:15%;
}
.form-group .input-date{
	width: 130px;
	border: none;
}
.form-group .input-group{
	width: 50px;
}
#input-1{
	width: 68px;
}
.icon {
	justify-content: flex-end;
}

.card-body {
	border: 1px solid #153d77;
	margin: 20px 10px;
	background-color: #E9ECEF;
}

.input-date {
	width: 35%;
}
.form-group .input-group-lg{
	width: 85px;
}
select {
	width: 20%;
	display: inline-block;
}

label {
	width: 42px;
	margin-left: 5px;
	margin-right: 13px;
}
#input-2{
	width: 15px;
}
.lablet{
	margin-left: -3px;
	margin-right: 4px;
}
.labelti{
	margin-left: 20px;
}
.input-disabled {
	width: 52px;
}
.input-disabled-0{
	width: 150px;
}
.input-disabled-01{
	width: 165px;
}
.input-disabled-1 {
	width: 45% !important;
}
.input-disabled-2 {
	width: 15% !important;
}
.input-disabled-3 {
	width: 155px;
}


.select-1 {
	width: 13% !important;
}

.select-2 {
	width: 25% !important;
}

.input-text {
	width: 120px;
}
.input {
	width: 222px;
}

.input-table,
.select-table {
	width: 50px;
}

.main-table {
	overflow-y: scroll;
	height: 320px;
}
table th{
	background-color: rgba(13, 240, 214, 0.75);
}
